html {
  background-color: rgb(219, 9, 9);
  padding: 20px;
}

body {
  width: 600px;
  margin: 0 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: white;
  padding: 50px;
  border-radius: 20px;
}

img {
  width: 250px;
  padding-bottom: 100px;
}
